.chat-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.chat-bubble {
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  line-height: 1.4;
  margin-top : 15px;
}

.chat-bubble.left {
  background-color: #CFCFCF;
  align-self: flex-start;
}

.chat-bubble.right {
  background-color: #EAEAEA;
  align-self: flex-end;
  padding-top : 1px;
  padding-bottom : 1px;
}

.chat-input-container {
  padding: 10px 20%;
  background-color: rgba(255, 255, 255, 0);
  position: sticky;
  bottom: 0;
}

.chat-input {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1);
}
.markdown-content {
  white-space: pre-wrap;
  word-break: break-word;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content ol {
  list-style-type: decimal;
}

.markdown-content ul {
  list-style-type: disc;
}
.markdown-content strong {
  font-weight: bold;
}

.markdown-content em {
  font-style: italic;
}
.markdown-content li {
  margin-bottom: 0.5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: rotate 2s linear infinite;
  margin-top : 5px;
}

.disclaimer {
  color: #747474;
  font-size: 7px;
  margin-top: 5px;
  display : flex;
  text-align:center;
  justify-content:center;
}


/* 최대 화면일 때 채팅박스 간격을 줄이기 */
@media (min-width: 1200px) {
    .chat-container {
        max-width: 45%; /* 좌우 간격을 더 좁힘 */
    }
}

/* 최대 화면의 반크기일 때 채팅박스 간격을 원래대로 유지 */
@media (max-width: 1199px) {
    .chat-container {
        max-width: 75%; /* 원래 너비 */
    }
}
