.main-navbar {
  height : 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-options {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
  z-index: 999;
}

.header-options.visible {
  z-index: 999;
  top: 55px;
}

.header-options span {
  margin-left: 20px;
  cursor: pointer;
  z-index: 999;
}

.menu {
  position: fixed;
  top: 150px;
  left: 20px;
  width: 9%;
  height: 70%;
  background-color: #ffffff;
  border-right: 1px solid #fff7f7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 998; /* z-index를 NavbarContainer보다 낮게 설정 */
}

.menu button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.menu li {
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left : 5px;
  padding-right : 5px;
}

.menu li:hover {
  transform: scale(1.05);
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
}
.hahmlet-text {
  font-family: "Hahmlet", serif;
  font-weight: 300;
}