body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.black-ops-one-regular {
  font-family: "Black Ops One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce-in-appear {
  opacity: 0;
  transform: translateY(-2000px);
}

.bounce-in-appear-active {
  animation: bounceInDown 1s ease-out;
}

